---
layout: index.swig
---
<div class="row">
  <div class="doc-home-title col-md-8 col-md-offset-2 col-xs-offset-0">
    <h1 class="font-logo text-center">Documentation (Work in Progress)</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2 col-xs-offset-0">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="tab-docs">
        <div class="toc-hack" style="display: none;">
          <ul>
          </ul>
        </div>
        <div style="height: 100px;" class="mobile-hide">
          &nbsp;
          <div id="section-nav" class="scrollspy text-center mobile-hide affix-top loaded">
            <div class="spinner"></div>
            <ul class="nav">
            </ul>
          </div>
        </div>
        <div class="section">
          <h2 class="section-title"><span class="font-logo">LeanStorage</span></h2>
          <div class="row">
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <h3>Guides</h3>
              <ul class="list-unstyled">
                <li><a href="start.html">How to Install SDK</a></li>
                <li><a href="storage_overview.html">LeanStorage Overview</a></li>
                <!-- <li><a href="data_security.html">Data and Security</a></li> -->
                <li> <span>LeanStorage Guides</span>
                  <ul class="list-unstyled tags">
                    <li><a href="leanstorage_guide-objc.html">Objective-C</a></li>
                    <li><a href="leanstorage_guide-js.html">JavaScript</a></li>
                    <li><a href="leanstorage_guide-python.html">Python</a></li>
                    <li><a href="leanstorage_guide-php.html">PHP</a></li>
                    <li><a href="leanstorage_guide-java.html">Java</a></li>
                    <li><a href="leanstorage_guide-swift.html">Swift</a></li>
                  </ul>
                </li>
                <!-- <li><a href="relation-guide.html">Data Modeling</a></li> -->
                <!-- <li><a href="acl-guide.html">ACL Guide</a></li> -->
              </ul>
            </div>
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <!-- <h3>REST</h3>
              <ul class="list-unstyled">
                  <li><a href="rest_api.html">LeanStorage REST API</a></li>
              </ul> -->
            </div>
          </div>
        </div>
        <div class="section">
          <h2 class="section-title"><span class="font-logo">LeanEngine + LeanCache</span></h2>
          <div class="row">
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <h3>Guides</h3>
              <ul class="list-unstyled">
                <li><a href="leanengine_overview.html">LeanEngine Overview</a></li>
                <li><a href="leanengine_quickstart.html">Quick Start</a></li>
                <li><a href="leanengine_plan.html">Plans and Prices</a></li>
                <li> <span>Web Hosting Guides</span>
                  <ul class="list-unstyled tags">
                    <li><a href="leanengine_webhosting_guide-node.html">Node.js</a></li>
                    <li><a href="leanengine_webhosting_guide-python.html">Python</a></li>
                    <li><a href="leanengine_webhosting_guide-php.html">PHP</a></li>
                    <li><a href="leanengine_webhosting_guide-java.html">Java</a></li>
                  </ul>
                </li>
                <li> <span>Cloud Function Guides</span>
                  <ul class="list-unstyled tags">
                    <li><a href="leanengine_cloudfunction_guide-node.html">Node.js</a></li>
                    <li><a href="leanengine_cloudfunction_guide-python.html">Python</a></li>
                    <li><a href="leanengine_cloudfunction_guide-php.html">PHP</a></li>
                    <li><a href="leanengine_cloudfunction_guide-java.html">Java</a></li>
                  </ul>
                </li>
                <li><a href="leanengine_cli.html">Command-Line Interface Guide</a></li>
                <li><a href="acl_guide_leanengine.html">Using ACL in LeanEngine</a></li>
              </ul>
            </div>
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <!-- <h3>LeanCache</h3>
              <ul class="list-unstyled">
                  <li><a href="leancache_guide.html">LeanCache Guide</a></li>
              </ul> -->
              <!-- <h3>REST</h3>
              <ul class="list-unstyled">
                  <li><a href="leanengine-rest-api.html">LeanEngine REST API</a></li>
              </ul> -->
            </div>
          </div>
        </div>
        <div class="section">
          <h2 class="section-title"><span class="font-logo">LeanMessage</span></h2>
          <div class="row">
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <h3>Guides</h3>
              <ul class="list-unstyled">
                <li><a href="realtime_v2.html">LeanMessage Overview</a></li>
                <li> <span>LeanMessage Guides</span>
                  <ul class="list-unstyled">
                    <li><a href="realtime-guide-beginner.html">1. Basic Conversations and Messages</a></li>
                    <li><a href="realtime-guide-intermediate.html">2. Advanced Messaging Features, Push Notifications, Synchronization, and Multi Device Sign-on</a></li>
                    <li><a href="realtime-guide-senior.html">3. Security, Permission Management, Chat Rooms, and Temporary Conversations</a></li>
                    <li><a href="realtime-guide-systemconv.html">4. Hooks and System Conversations</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <!-- <h3>REST</h3>
              <ul class="list-unstyled">
                  <li><a href="realtime_rest_api_v2.html">LeanMessage REST API</a></li>
              </ul> -->
            </div>
          </div>
        </div>
        <div class="section">
          <h2 class="section-title"><span class="font-logo">Short Message Service (SMS)</span></h2>
          <div class="row">
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <h3>Guides</h3>
              <ul class="list-unstyled">
                  <li><a href="sms-guide.html">Short Message Service (SMS) Guide</a></li>
              </ul>
            </div>
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <!-- <h3>REST</h3>
              <ul class="list-unstyled">
                <li><a href="rest_sms_api.html">SMS REST API</a></li>
              </ul> -->
            </div>
          </div>
        </div>
        <!-- <div class="section">
          <h2 class = "section-title"><span class ="font-logo">REST API</span></h2>
          <div class="row">
            <div class = "section-content col-xs-12 col-sm-6 col-md-6">
              <h3>Development Guides</h3>
              <ul class="list-unstyled">
                <li><a href="rest_api.html">LeanStorage REST API</a></li>
                <li><a href="leanengine-rest-api.html">LeanEngine REST API</a></li>
                <li><a href="realtime_rest_api_v2.html">Realtime Message REST API</a></li>
                <li><a href="rest_api.html#Push_Notification">Notification Push REST API</a></li>
                <li><a href="rest_sms_api.html"> SMS REST API</a></li>
              </ul>
            </div> -->
        <!-- end of .section-content -->
      <!-- </div> -->
      <!-- end of .row(nested) -->
    <!-- </div> -->


        <div class="section">
          <h2 class="section-title"><span class="font-logo">More</span></h2>
          <div class="row">
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <h3>SDK API Docs</h3>
              <ul class="list-unstyled">
                {% include 'templates/include/_apidocs.html' %}
              </ul>
            </div>
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <!-- <h3>Components</h3>
              <ul class="list-unstyled">
                <li><a href="app_search_guide.html">In-App Searching Guide</a>
                <li><a href="status_system.html">In-App Socializing Guide</a></li>
              </ul> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
