--- layout: download.swig ---
<style type="text/css">
  .doc-content h2 {
    color: #333;
  }

  h1 .changelog-rss {
    display: inline-block;
    line-height: 1;
    height: 24px;
    vertical-align: 5px;
  }
</style>
<div class="row">
  <div class="col-md-12">
    <div class="doc-home-title">
      <h1 class="font-logo">
        LeanCloud SDK Downloads
      </h1>
    </div>
    <!-- .doc-home-title -->
  </div>
  <!-- .col-md-12 -->
  <div class="col-md-12">
    <div style="display:flex;flex-wrap:wrap;margin-left:-20px">
      <div class="dl-cell">
        <div class="desc">
          <h2><i class="icon icon-github"></i> iOS</h2>
          <p>
            Includes LeanStorage, LeanMessage, Push Notifications, In-App Socializing, User Feedback, In-App Searching,
            etc.
          </p>
        </div>
        <ul class="list-unstyled list-inline download-btns">
          <li><a href="https://github.com/leancloud/objc-sdk/"
              class="btn btn-sm btn-primary">Objective-C SDK</a></li>
          <li><a href="https://github.com/leancloud/swift-sdk/"
              class="btn btn-sm btn-primary">Swift SDK</a></li>
          <li><a href="https://github.com/leancloud/leancloud-feedback-ios/" class="btn btn-link">
              User Feedback Components</a></li>
        </ul>
      </div>
      <div class="dl-cell">
        <div class="desc">
          <h2><i class="icon icon-github"></i> JavaScript SDK</h2>
          <p>
            Includes LeanStorage SDK and LeanMessage SDK.
          </p>
        </div>
        <ul class="list-unstyled list-inline download-btns">
          <li><a href="https://github.com/leancloud/javascript-sdk/" class="btn btn-sm btn-primary">
              LeanStorage SDK</a>
          </li>
          <li><a href="https://github.com/leancloud/js-realtime-sdk/" class="btn btn-sm btn-primary">
              LeanMessage SDK</a>
          </li>
        </ul>
      </div>
      <div class="dl-cell">
        <div class="desc">
          <h2><i class="icon icon-github"></i> Java SDK</h2>
          <p>LeanCloud Java SDK includes interfaces for all the functions available on LeanCloud and works with
            both Java and Android. All the interfaces interact with the cloud following LeanCloud REST API standards and
            are designed in RxJava style.</p>
        </div>
        <ul class="list-inline">
          <li>
            <a href="https://github.com/leancloud/java-unified-sdk/" class="btn btn-sm btn-primary">Java SDK</a>
          </li>
        </ul>
      </div>
      <div class="dl-cell">
        <div class="desc">
          <h2><i class="icon icon-github"></i> Flutter SDK</h2>
          <p>Includes LeanMessage SDK (a plugin based on LeanCloud-Swift-SDK and LeanCloud-Java-SDK) and LeanStorage SDK.</p>
        </div>
        <ul class="list-inline">
          <li><a href="https://github.com/leancloud/Storage-SDK-Flutter" class="btn btn-sm btn-primary">
              leancloud_storage</a>
          </li>
          <li><a href="https://github.com/leancloud/Realtime-SDK-Flutter" class="btn btn-sm btn-primary">
              leancloud_official_plugin</a>
          </li>
        </ul>
      </div>
      <div class="dl-cell">
        <div class="desc">
          <h2><i class="icon icon-github"></i> Other SDKs</h2>
          <p>Intented to be used at server side.</p>
        </div>
        <ul class="list-unstyled list-inline download-btns">
          <li><a href="https://github.com/leancloud/python-sdk/" class="btn btn-link"> Python SDK</a>
          </li>
          <li><a href="https://github.com/leancloud/php-sdk/" class="btn btn-link"> PHP SDK</a></li>
        </ul>
      </div>
      <div class="dl-cell" style="border-color:transparent;"></div>
    </div>
  </div>
</div>
