## Official Accounts and Bots

### Create Official Accounts

In table `_Conversation`, the default ACL authority requires master key to create.

```sh
curl -X POST \
  -H "X-LC-Id: {{appid}}" \
  -H "X-LC-Key: {{masterkey}},master" \
  -H "Content-Type: application/json" \
  -d '{"name":"My First Service-conversation"}' \
  https://{{host}}/1.2/rtm/service-conversations
```

The fields in the request are specified in [Conversation](realtime.html#Conversation).

It returns:
```
{"objectId"=>"5a5d7432c3422b31ed845e75", "createdAt"=>"2018-01-16T03:40:32.814Z"}
```

### Query Official Accounts

In `_Conversation` table , the default ACL authority requires master key to query.

```sh
curl -X GET \
  -H "X-LC-Id: {{appid}}" \
  -H "X-LC-Key: {{masterkey}},master" \
  -G \
  --data-urlencode 'where={"name": "service"}' \
  --data-urlencode 'skip=1' \
  --data-urlencode 'limit=20' \
  https://{{host}}/1.2/rtm/service-conversations
```

Parameters | Optionality | Description
---|---|--- 
skip | Optional | 
limit | Optional | together with ski for pagination
where | Optional | refer to [LeanStorage - Query](rest_api.html#Query).

It returns:
```
{"results"=>[{"name"=>"My First Chatroom", "createdAt"=>"2018-01-17T04:15:33.386Z", "updatedAt"=>"2018-01-17T04:15:33.386Z", "objectId"=>"5a5ecde6c3422b738c8779d7"}]}
```

### Update Official Accounts

In `_Conversation` table , the default ACL authority requires master key to update.

```sh
curl -X PUT \
  -H "X-LC-Id: {{appid}}" \
  -H "X-LC-Key: {{masterkey}},master" \
  -H "Content-Type: application/json" \
  -d '{"name":"Updated Service-conversation"}' \
  https://{{host}}/1.2/rtm/service-conversations/{conv_id}
```

It returns:
```
{"updatedAt"=>"2018-01-16T03:40:37.683Z", "objectId"=>"5a5d7433c3422b31ed845e76"}
```

### Delete Official Accounts 

In `_Conversation` table , the default ACL authority requires master key to delete.

```sh
curl -X DELETE \
  -H "X-LC-Id: {{appid}}" \
  -H "X-LC-Key: {{masterkey}},master" \
  https://{{host}}/1.2/rtm/service-conversations/{conv_id}
```

It returns:
```
{}
```

### Subscribe Official Accounts

```sh
curl -X POST \
  -H "X-LC-Id: {{appid}}" \
  -H "X-LC-Key: {{masterkey}},master" \
  -H "Content-Type: application/json" \
  -d '{"client_id":"client_id"}' \
  https://{{host}}/1.2/rtm/service-conversations/{conv_id}/subscribers
```

It returns:
```
{}
```

### Unsubscribe the Official Accounts

```sh
curl -X DELETE \
  -H "X-LC-Id: {{appid}}" \
  -H "X-LC-Key: {{masterkey}},master" \
  https://{{host}}/1.2/rtm/service-conversations/{conv_id}/subscribers/{client_id}
```

It returns:
```
{}
```

### Traverse Through All the Subscribers

This interface requires master key.

```sh
curl -X GET \
  -H "X-LC-Id: {{appid}}" \
  -H "X-LC-Key: {{masterkey}},master" \
  https://{{host}}/1.2/rtm/service-conversations/{conv_id}/subscribers
```

Parameters | Optionality | Description
---|---|---
limit | Optional | limit the number results returned, default and maximum on 50.
client_id | Optional | Specify which client_id to start. Start from the beginning of the subscribers list. The result will not include the start client_id.

return 
```
[{"timestamp":1491467841116,"subscriber":"client id 1","conv_id":"55b871"},
 {"timestamp":1491467852768,"subscriber":"client id 2","conv_id":"55b872"}, ...]
```

`timestamp` is the time of subscription, and `subscriber` is the `client_id`. If the query is not exhaustive, the last `client_id` in the results should be passed as the client_id parameter of the next query.

### Query the Count the Subscribers

This interface requires master key.
```sh
curl -X GET \
  -H "X-LC-Id: {{appid}}" \
  -H "X-LC-Key: {{masterkey}},master" \
  https://{{host}}/1.2/rtm/service-conversations/{conv_id}/subscribers/count
```

It returns:

```
{"count": 100}
```

### Message All the Subscribers

This interface requires master key.

```sh
curl -X POST \
  -H "X-LC-Id: {{appid}}" \
  -H "X-LC-Key: {{masterkey}},master" \
  -H "Content-Type: application/json" \
  -d '{"from_client": "", "message": ""}' \
  https://{{host}}/1.2/rtm/service-conversations/{conv_id}/broadcasts
```

Parameters | Optionality | Description
---|---|---
from_client | Required | sender client Id
message | Required | message body
push | Optional | attached push content. If configured,  iOS and Windows Phone user will receive this push notification. String or JSON object.

It returns:
```
{"msg-id":"qNkRkFWOeSqP65S9fDyHJw", "timestamp":1495431811151}
```

Frequency limit:

this interface has frequency limitation , click [here](#interface requests frequency limitation) to view.

### Modify All the Messages to Subscribers

This interface requires master key.

From Objective-C SDK v6.0.0、Android SDK v4.4.0、JavaScript SDK v3.5.0 ，we support the new function of modification and recall. After modification and recall, the cached messages on client terminals will get altered. For the old version，only the messages on server will get altered but not the cached client messages.

```sh
curl -X PUT \
  -H "X-LC-Id: {{appid}}" \
  -H "X-LC-Key: {{masterkey}},master" \
  -H "Content-Type: application/json" \
  -d '{"from_client": "", "message": "", "timestamp": 123}' \
  https://{{host}}/1.2/rtm/service-conversations/{conv_id}/messages/{message_id}
```

Parameters | Optionality | Description
---|---|---
from_client | Required | sender client ID 
message | Required | message body
timestamp | Required | message timestamp

It returns:
```
{"result": {}}
```

Frequency limit:

this interface has frequency limitation , click [here](#interface requests frequency limitation) to view.

### Recall Messages to All Subscribers

This interface requires master key. It should be used in combination with matching SDK. See [Modify Messages](#Modify Messages) interface.

```sh
curl -X PUT \
  -H "X-LC-Id: {{appid}}" \
  -H "X-LC-Key: {{masterkey}},master" \
  -H "Content-Type: application/json" \
  -d '{"from_client": "", "timestamp": 123}' \
  https://{{host}}/1.2/rtm/service-conversations/{conv_id}/messages/{message_id}/recall
```
Parameters | Optionality | Description
---|---|---
from_client | Required | sender client ID 
timestamp | Required | message timestamp

It returns:
```
{"result": {}}
```
Frequency limit:

this interface has frequency limitation , click [here](#interface requests frequency limitation) to view.

### Message any Subscriber Privately

This interface requires master key.

```sh
curl -X POST \
  -H "X-LC-Id: {{appid}}" \
  -H "X-LC-Key: {{masterkey}},master" \
  -H "Content-Type: application/json" \
  -d '{"from_client": "", "message": ""}' \
  https://{{host}}/1.2/rtm/service-conversations/{conv_id}/messages
```

**Warning**, due to the management nature of the interface. When you send mesages via this interface, we will not check whether **from_client**  has the authority to message in the conversation. All the requests will be approved. PLEASE BE CAUTIOUS TO USE THIS INTERFACE.
If you used the [Rich Media format](./realtime_v2.html#Message), when sending messages **message** field has some required format, [Rich Media format guide](./realtime_rest_api.html#Rich Media format guide) has the details.

Parameters | Optionality | Description
---|---|---
from_client | required | client Id of Sender
to_clients | required | array type, list of client to receive messages , 20 Ids at most.
message | required | message content (The type of the content should be string, but we have no constraint on the inner format.<br/> Theoretically, developer can send any format with size smaller than 5MB. )
transient | optional | whether the message is transient, default on FALSE
no_sync | optional | message will get synchronized to the online from_client users, ban this via setting it to TRUE.
push_data | optional | set the offline push content of this message as attachment. If receiver is an iOS device and offline, we will push offline content according to this paramter. Refer to [offline push notification](./realtime-guide-intermediate.html#offline Push Notification)
priority | optional | set priority of the message in [high,normal,low]. The parameter is not case-sensitive and default on HIGH. This parameter only works on transient and Chats Rooms messages. Messages are in queue given it has high priority but the connection is blocked.

By default , the message API is asynchronous. The Message id and timestamp on Server when received  will get returned. For example: `{"msg-id":"qNkRkFWOeSqP65S9fDyHJw", "timestamp":1495431811151}`.

Frequency limit:

this interface has frequency limitation , click [here](#interface requests frequency limitation) to view.

### Modify the Private Message to the User

This interface requires master key.

From Objective-C SDK v6.0.0、Android SDK v4.4.0、JavaScript SDK v3.5.0 ，we support the new function of modification and recall. After modification and recall, the cached messages on client terminals will get altered. For the old version，only the messages on server will get altered but not the cached client messages.

```sh
curl -X PUT \
  -H "X-LC-Id: {{appid}}" \
  -H "X-LC-Key: {{masterkey}},master" \
  -H "Content-Type: application/json" \
  -d '{"from_client": "", "message": "", "timestamp": 123, "to_clients":["a","b","c"]}' \
  https://{{host}}/1.2/rtm/service-conversations/{conv_id}/messages/{message_id}
```

Parameters | Optionality | Description
---|---|---
from_client | required | sender ID
message | required | message body
timestamp | required | message timestamp
to_clients | required | array type, list of client to receive messages , 20 Ids at most.

It returns:
```
{"result": {}}
```

Frequency limit:

this interface has frequency limitation , click [here](#interface requests frequency limitation) to view.

### Recall the Private Message 

This interface requires master key. It should be used in combination with matching SDK. See [Modify Messages](#Modify Messages) interface.

```sh
curl -X PUT \
  -H "X-LC-Id: {{appid}}" \
  -H "X-LC-Key: {{masterkey}},master" \
  -H "Content-Type: application/json" \
  -d '{"from_client": "", "timestamp": 123, "to_clients":["a","b","c"]}' \
  https://{{host}}/1.2/rtm/service-conversations/{conv_id}/messages/{message_id}/recall
```

Parameters | Optionality | Description
---|---|---
from_client | required | sender ID
message | required | message body
timestamp | required | message timestamp
to_clients | required | array type, list of client to receive messages , 20 Ids at most.

It returns:
```
{"result": {}}
```

Frequency limit:

this interface has frequency limitation , click [here](#interface requests frequency limitation) to view.

 ### Delete Private Messages to Users

 This interface requires master key and only works on subscription messages and private messages. To delete broadcast, please refer to [delete broadcast](realtime_rest_api.html).

```sh
curl -X DELETE \
  -H "X-LC-Id: {{appid}}" \
  -H "X-LC-Key: {{masterkey}},master" \
  -G \
  --data-urlencode 'from_client=some-client-id' \
  --data-urlencode 'timestamp=123' \
  https://{{host}}/1.2/rtm/service-conversations/{conv_id}/subscribers/{client_id}/messages/{message_id}
```

> NOTE: this interface only works on server terminal but not on client terminal.

Parameters | Optional | Description
---|---|---
from_client | required | sender client ID
timestamp | required | message timestamp

It returns:
```
{}
```
 
### Query the Message sent from Official Account

This interface requires master key. The result contains broadcast from the Official Accounts and private messages.

```sh
curl -X GET \
  -H "X-LC-Id: {{appid}}" \
  -H "X-LC-Key: {{masterkey}},master" \
  -H "Content-Type: application/json" \
  https://{{host}}/1.2/rtm/service-conversations/{conv_id}/subscribers/{client_id}/messages
```

parameters and returned value resembles [query history messages](#query history messages).

### Blocked List

This interface requires master key.

The blocked client will no longer subscribe the Official Account if removed. Each Official Account can have 10,000 blocked clients at most.
```sh
curl -X POST \
  -H "X-LC-Id: {{appid}}" \
  -H "X-LC-Key: {{masterkey}},master" \
  -H "Content-Type: application/json" \
  -d '{"client_ids": ["client1", "client2"]}' \
  https://{{host}}/1.2/rtm/service-conversations/{conv_id}/blacklists
```

Parameters | Description
---|---
client_ids | blocked Client ID list, array

It returns:
```
{}
```

#### Remove Blocked List of Official Accounts

This interface requires master key.
```sh
curl -X DELETE \
  -H "X-LC-Id: {{appid}}" \
  -H "X-LC-Key: {{masterkey}},master" \
  -d '{"client_ids": ["client1", "client2"]}' \
  https://{{host}}/1.2/rtm/service-conversations/{conv_id}/blacklists
```

It returns:

```
{}
```

#### Query the Official Accounts Blocked List

```sh
curl -X GET \
  -H "X-LC-Id: {{appid}}" \
  -H "X-LC-Key: {{masterkey}},master" \
  -d '{"client_ids": ["client1", "client2"]}' \
  https://{{host}}/1.2/rtm/service-conversations/{conv_id}/blacklists
```

Parameters | Optionality | Description
---|---|---
limit | Optional | together with next to implement pagination , default on 10
next | Optional | returned on the first query, the following query with this parameter to implement pagination

It returns:

```
{"client_ids": ["client1", "client2"]}
```
