<footer class="footer" role="contentinfo">
  <div class="container-fluid">
    <!-- <a href="http://leancloud.cn/" class="logo font-logo pull-left">
      LeanCloud
    </a> -->

    <ul class="footer-links pull-right">
      <li><a href="/pricing">Pricing</a></li>
      <li class="muted">·</li>
      <li><a href="sdk_down.html">Downloads</a></li>
      <li class="muted">·</li>
      <li><a href="https://www.reddit.com/r/LeanCloud/">Community</a></li>
      <li class="muted">·</li>
      <li><a href="https://medium.com/leancloud">Blog</a></li>
      <li class="muted">·</li>
      <li><a href="https://github.com/leancloud/docs-en">Docs Source</a></li>
    </ul>
  </div>
</footer>
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript"> 
docsearch({
  apiKey: '357b777ed18e79673a2c1de3f6c64478',
  indexName: 'leancloud',
  inputSelector: '#site-search',
  debug: false // Set debug to true if you want to inspect the dropdown
});
</script>