<nav class="dashboard-subnav navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-options" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="https://leancloud.app" class="navbar-brand nav-logo font-logo" title="LeanCloud Official Website">LeanCloud</a>
    </div>

    <div class="collapse navbar-collapse" id="app-options">
      <!-- <ul class="nav navbar-nav navbar-app-select">
        <li>
          <a href="https://console.leancloud.app/applist.html" class="nav-logo font-logo" title="LeanCloud Console">LeanCloud</a>
        </li>
      </ul> -->
      <div class="navbar-app-actions-wrap">
        <ul class="nav navbar-nav navbar-app-actions">
          {% if basename != "index" %}
          <li class="dropdown dropdown-toggle-app-name">
            <a href="index.html">
              <i class="icon icon-dashbd-icon icon-home"></i>
              <div class="name">All Docs</div>
            </a>
          </li>
          {% endif %}
          <li class="dropdown dropdown-toggle-app-name">
            <a href="sdk_down.html" title="SDK Downloads">
              <i class="icon icon-dashbd-icon icon-package"></i>
              <div class="name"><span class="mobile-hide">SDK </span>Downloads</div>
            </a>
          </li>
          <li class="dropdown dropdown-toggle-app-name">
            <a href="demo.html" title="Demos">
              <i class="icon icon-dashbd-icon icon-magic"></i>
              <div class="name">Demos</div>
            </a>
          </li>
          <li class="dropdown dropdown-toggle-app-name">
            <a class="nav-key-6 dropdown-toggle" title="API Docs" data-toggle="dropdown">
              <i class="icon icon-dashbd-icon icon-log"></i>
              <div class="name">API Docs</div>
            </a>
            <ul class="dropdown-menu">
              {% include '_apidocs.html' %}
            </ul>
          </li>
          <li class="dropdown dropdown-toggle-app-name">
            <a class="nav-key-6 dropdown-toggle" title="Help" data-toggle="dropdown">
              <i class="icon icon-dashbd-icon icon-question"></i>
              <div class="name">Help</div>
            </a>
            <ul class="dropdown-menu">
              <li><a href="https://www.reddit.com/r/LeanCloud/">Community</a></li>
              <li><a href="https://medium.com/leancloud">Blog</a></li>
              <li role="presentation" class="divider"></li>
              <li><a href="https://console.leancloud.app/apionline/index.html">API Tools</a></li>
              <li role="presentation" class="divider"></li>
              <li><a href="https://leancloud.app/pricing/">Pricing</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <ul class="nav navbar-nav navbar-user-actions navbar-right" ng-cloak>

        <li class="dropdown" ng-show="user.username">
          <a role="button" class="dropdown-toggle user-name" data-toggle="dropdown">
            <span class="user-gravatar">
              <img gravatar-src="user.email" gravatar-size="64">
            </span>
            <span class="user-name-text">{{user.username}}</span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/settings.html">Account Settings</a></li>
            <li><a href="/applist.html">Console</a></li>
            <li><a href="/settings.html#/setting/team">Team Management</a></li>
            <li><a href="/bill.html#/bill/general">Billing</a></li>
            <li ng-show="user.username" style=""><a ng-click="signout()">Sign out</a></li>
          </ul>
        </li>
        <li ng-hide="user.username">
          <a href="https://console.leancloud.app/login.html#/signin">Log in</a>
        </li>
        <li ng-hide="user.username">
          <a href="https://console.leancloud.app/login.html#/signup">Sign up</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
  <!-- .container-fluid -->
</nav>
